# **Fungsi**

In [ ]:
# Deklarasi Fungsi
def cetak(x):
  print(x)

# Memanggil Fungsi
cetak("wokee")

wokee

In [ ]:
def cetak(K):
  print(K)

cetak("hi, welcome to the world program")

hi, welcome to the world program

In [ ]:
# Deklarasi Fungsi dengan pengembalian
def tambah(a, b):
  return a + b;

# Memanggil Fungsi
print(tambah(2, 3))

5

In [ ]:
def kurang(a, b):
  return a - b;

print(kurang(16, 2))

14

In [ ]:
def nama_fungsi(arg1, arg2, ...):
  # isi fungsi

def fungsi_dengan_pengembalian(arg1, arg2, ...):
  # isi fungsi
  return 'sesuatu'

# **Method**

In [ ]:
class NamaClass:
  def nama_method(arg1, arg2, ...):
    # isi method

In [ ]:
# Deklarasi Object (Class)
class Kucing(object):
  def meong(self):
    print("meeooong")

# Memanggil method
cat = Kucing()
cat.meong()

meeooong

In [ ]:
class Harimau(object):
  def aaauugghh(self):
    print("aaauugghh")

tiger = Harimau()
tiger.aaauugghh()

aaauugghh

# **Lambda Expression**

In [ ]:
# Lambda expression
tambah = lambda a, b: (a + b)
print(tambah(2, 3))

5

In [ ]:
tambah = lambda c, d: (c + d)
print(tambah(20, 5))

25

# **Object Oriented Programming**

## **Encapsulation**

In [ ]:
class Kucing:
  def __init__(self, nama, usia, warna, jenis):
    self.nama = nama
    self.usia = usia
    self.warna = warna
    self.jenis = jenis

  def myfunc(self):
    print("Hello my name is " + self.nama)
  
  def meong(self):
    print("meeeoonnggg... ")

  def info(self):
    print(f"nama: {self.nama}, usia: {self.usia}, warna: {self.warna}, jenis: {self.jenis}")


kucing1 = Kucing("cemong", 1, "putih coklat muda", "anggora")

kucing1.info()

In [ ]:
class Barang:
  def __init__(self, nama, jumlah, harga, jenis):
    self.nama = nama
    self.jumlah = jumlah
    self.harga = harga
    self.jenis = jenis

  def myfunc(self):
    print("Jual barang " + self.nama)
  
  def info(self):
    print(f"nama: {self.nama}, jumlah: {self.jumlah}, harga: {self.harga}, jenis: {self.jenis}")

barang1 = Barang("sepatu",  1, "450.000", "reebok")

barang1.info()

nama: sepatu, jumlah: 1, harga: 450.000, jenis: reebok

## **Abstraction**

In [ ]:
# Memanggil method dari objek tanpa harus mengetahui cara kerja method
kucing1.myfunc()

Hello my name is cemong

In [ ]:
barang1.myfunc()

Jual barang sepatu

## **Inheritence**

In [ ]:
class Binatang(object):
  def __init__(self, nama, usia, jenis, mamalia):
    self.nama = nama
    self.usia = usia
    self.jenis = jenis
    self.mamalia = mamalia

  def tidur(self, durasi):
    for x in range(durasi):
      print("ddrrr... ddrrr... ")

  def info(self):
    print(f"nama: {self.nama}, usia: {self.usia}, jenis: {self.jenis}, mamalia: {self.mamalia}")


animal1 = Binatang("cemong", 1, "omnivora", True)

animal1.info()

class Kucing(Binatang):
  def __init__(self,  nama, usia, jenis, mamalia, warna, jenis_kucing):
    super().__init__(nama, usia, jenis, mamalia)
    self.warna = warna
    self.jenis_kucing = jenis_kucing
  
  def meong(self):
    print("meeeonnggg")

  def info_kucing(self):
    print(f"warna: {self.warna}, jenis kucing: {self.jenis_kucing}")

cat1 = Kucing("cemong", 1, "omnivora", True, "putih coklat muda", "anggora")

cat1.info()
cat1.info_kucing()

nama: cemong, usia: 1, jenis: omnivora, mamalia: True
nama: cemong, usia: 1, jenis: omnivora, mamalia: True
warna: putih coklat muda, jenis kucing: anggora

In [ ]:
class Sepatu(Barang):
  def __init__(self,  nama, jumlah, harga, jenis, warna, jenis_sepatu):
    super().__init__(nama, jumlah, harga, jenis)
    self.warna = warna
    self.jenis_sepatu = jenis_sepatu 

  def info_sepatu(self):
    print(f"warna: {self.warna}, jenis sepatu: {self.jenis_sepatu}")

barang1 = Sepatu("sepatu", 1, "450.000", "reebok", "merah", "sport")

barang1.info()
barang1.info_sepatu()

nama: sepatu, jumlah: 1, harga: 450.000, jenis: reebok
warna: merah, jenis sepatu: sport

## **Polymorphism**

In [ ]:
class Ikan(Binatang):
  def __init__(self,  nama, usia, jenis, mamalia, warna, jenis_air, jenis_ikan):
    super().__init__(nama, usia, jenis, mamalia)
    self.warna = warna
    self.jenis_air = jenis_air
    self.jenis_ikan = jenis_ikan
  
  def berenang(self, durasi):
    print("wushh... wush... ")

  def info_ikan(self):
    print(f"warna: {self.warna}, jenis ikan: {self.jenis_ikan}, jenis air: {self.jenis_air}")

fish1 = Ikan("Jago", 2, "omnivora", False, "Merah Putih", "Tawar", "Cupang")

fish1.info()
fish1.info_ikan()
fish1.tidur(5)

nama: Jago, usia: 2, jenis: omnivora, mamalia: False
warna: Merah Putih, jenis ikan: Cupang, jenis air: Tawar
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...

In [ ]:
class Beruang(Binatang):
  def __init__(self,  nama, usia, jenis, mamalia, warna, habitat, jenis_makanan):
    super().__init__(nama, usia, jenis, mamalia)
    self.warna = warna
    self.habitat = habitat
    self.jenis_makanan = jenis_makanan

  def info_ikan(self):
    print(f"warna: {self.warna}, habitat: {self.habitat}, jenis makanan: {self.jenis_makanan}")

bear1 = Beruang("Greez", 10, "omnivora", True, "Coklat", "Hutan", "Madu")

bear1.info()
bear1.info_ikan()
bear1.tidur(5)

nama: Greez, usia: 10, jenis: omnivora, mamalia: True
warna: Coklat, habitat: Hutan, jenis makanan: Madu
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...
ddrrr... ddrrr...

## **Activity OOP**

Buatlah 3 OOP beserta turunannya dari objek sekitar, buat ulang seperti yang diatas (encapsulation, abstaction, inheritance, polymorphism)

# **Time Complexity**
## Activity 

Hitung time complexity dengan bigO Notation pada algoritma berikut:

* Tidak perlu di run

In [ ]:
# 1 = Big O(2) = O(1)

arr = [1, 2, 3, 4, 5]

print(arr[0])     #O(1)
print(arr[1])     #O(1)

1
2

In [ ]:
# 2 = Big O (n+3) = O(n)

print(arr[2])       #O(1)
for number in arr:  #O(n)
  print(number)
print(arr[1])       #O(1)
print(arr[2])       #O(1)

#Maka yang diambil yang paling besar yaitu O(n)

3
1
2
3
4
5
2
3

In [ ]:
# 3 = Big O (2n+1) = O(n)

arr2 = [6, 7, 8, 9, 10]

for number in arr:    #O(n)
  print(number)
for number in arr2:   #O(n)
  print(number)
print(arr2[4])        #O(1)
#Maka yang diambil yang paling besar yaitu O(2n)

1
2
3
4
5
6
7
8
9
10
10

In [ ]:
# 4 = Big O (2n+1) = O(n)

print(arr2[1])        #O(1)
for number in arr:    #O(n)
  print(number)
for number in arr:    #O(n)
  print(number)

#Maka yang diambil yang paling besar yaitu O(2n)

7
1
2
3
4
5
1
2
3
4
5

In [ ]:
# 5 = Big O (2n+2) = O(n)

for number in arr:      #O(n)
  for number2 in arr2:  #O(n)
    print(number+number2)
print(arr[1]+arr2[1])   #O(1)
print(arr2[2])          #O(1)

#Maka yang diambil yang paling besar yaitu O(2n)

7
8
9
10
11
8
9
10
11
12
9
10
11
12
13
10
11
12
13
14
11
12
13
14
15
9
8

In [ ]:
# 6 = Big O (2n+1) = O(n)

for number in arr:          #O(n)
  for number2 in arr:       #O(n)
    print(number+number2)   #O(1)
print(arr)

#Maka yang diambil yang paling besar yaitu O(2n)

2
3
4
5
6
3
4
5
6
7
4
5
6
7
8
5
6
7
8
9
6
7
8
9
10
[1, 2, 3, 4, 5]

In [ ]:
# 7 + = Big O (3n+3) = O(n)

for number in arr:          #O(n)
  for number2 in arr2:      #O(n)
    for number3 in arr:     #O(n)
      print(number+number2+number3)
print(arr[1])               #O(1)
print(arr2[2])              #O(1)
print(arr2[3])              #O(1)

#Maka yang diambil yang paling besar yaitu O(3n)

8
9
10
11
12
9
10
11
12
13
10
11
12
13
14
11
12
13
14
15
12
13
14
15
16
9
10
11
12
13
10
11
12
13
14
11
12
13
14
15
12
13
14
15
16
13
14
15
16
17
10
11
12
13
14
11
12
13
14
15
12
13
14
15
16
13
14
15
16
17
14
15
16
17
18
11
12
13
14
15
12
13
14
15
16
13
14
15
16
17
14
15
16
17
18
15
16
17
18
19
12
13
14
15
16
13
14
15
16
17
14
15
16
17
18
15
16
17
18
19
16
17
18
19
20
2
8
9

In [ ]:
# 8 = Big O (3n+1) = O(n)

for number in arr:        #O(n)
  print(number)
print(arr2)
for number in arr:        #O(n)
  for number2 in arr2:    #O(n)
    print(number+number2) #O(1)
print(arr)

#Maka yang diambil yang paling besar yaitu O(3n)

1
2
3
4
5
[6, 7, 8, 9, 10]
7
8
9
10
11
8
9
10
11
12
9
10
11
12
13
10
11
12
13
14
11
12
13
14
15
[1, 2, 3, 4, 5]

In [ ]:
# 9 

# algoritma bubble sort

def bubbleSort(arr):
    n = len(arr)
 
    # Traverse through all array elements
    for i in range(n-1):
    # range(n) also work but outer loop will repeat one time more than needed.
 
        # Last i elements are already in place
        for j in range(0, n-i-1):
 
            # traverse the array from 0 to n-i-1
            # Swap if the element found is greater
            # than the next element
            if arr[j] > arr[j + 1] :
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
 
# Driver code to test above
arr = [64, 34, 25, 12, 22, 11, 90]
 
bubbleSort(arr)
 
print ("Sorted array is:")
for i in range(len(arr)):
    print ("% d" % arr[i]),

Sorted array is:
 11
 12
 22
 25
 34
 64
 90

In [ ]:
# 10
def search(arr, x):
  
    for i in range(len(arr)):
  
        if arr[i] == x:
            return i
  
    return -1

In [ ]:
# 11

# algoritma binary search
def binary_search(arr, x):
    low = 0
    high = len(arr) - 1
    mid = 0
 
    while low <= high:
 
        mid = (high + low) // 2
 
        # If x is greater, ignore left half
        if arr[mid] < x:
            low = mid + 1
 
        # If x is smaller, ignore right half
        elif arr[mid] > x:
            high = mid - 1
 
        # means x is present at mid
        else:
            return mid
 
    # If we reach here, then the element was not present
    return -1
 
 
# Test array
arr = [ 2, 3, 4, 10, 40 ]
x = 10
 
# Function call
result = binary_search(arr, x)
 
if result != -1:
    print("Element is present at index", str(result))
else:
    print("Element is not present in array")

Element is present at index 3